.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo {
  position: absolute;
  width: 228;
  height: 32;
}

.logo_place_header {
  top: 30px;
  left: 64px; 
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color:#2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  z-index:2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 80%;
}

.two-columns_brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin-top: 25px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 100px auto;
}

.digits-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.digits-subtitle {
  width: 60%;
  margin: 20px auto 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
}

.table__cell:nth-of-type(4n) {
  margin-bottom: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  z-index: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: 0px auto 70px;
  text-align: center;
  z-index: 1;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2f80ed;
  position: absolute;
  text-decoration: none;
  right: 48px;
  height: 50%;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.kaufman-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  color: white;
  margin: 90px auto 20px;
}

.kaufman-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 90px;
  
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
  }

.table__heading_theme_dark {
  line-height: 1.15px;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 1;
  top: 0;
}

.footer {
  min-height: 350px;
  padding: 60px 0 40px 0;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__colums {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  display: flex;
  width: 228px;
  height: 32px;
}

.footer__author {
  padding: 18px 0 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 18px 0;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0 18px 0;
  line-height: 30px;
}

.footer__social-icon {
  text-decoration: none;
  color: white;
  display: flex;
}

.footer-icon {
  padding-right: 10px;
}
